apex/*
fairseq/*
data/bpe/*
data/bpe_path/*
data/dictionaries/*
data/divided_data/*
data/moses_path/*
data/*
requirements/*
logs/*
model/*
scripts/checkpoints




!apex/*.gitkeep
!fairseq/*.gitkeep
!data/*.gitkeep

!data/dictionaries/*.gitkeep
!data/raw/*.gitkeep
!data/vectors/*.gitkeep
!data/wordsim/*.gitkeep
!logs/*.gitkeep
!model/*.keep
